<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/tailwind.css" rel="stylesheet">
		<link href="/style.css" rel="stylesheet">
	</head>
	<body class="bg-purple-700">

		{{#if status_exists}}
				{{#if status}}
					<p>The transfer was a success!</p>
				{{else}}
					<p>The transfer failed...</p>
				{{/if}}
		{{/if}}
		<div class="flex flex-row flex-wrap">
			<div class="bg-yellow-500 pb-5 w-96  rounded shadow">
				<div class="bg-purple-900 mb-3 rounded shadow h-auto">
					<h1 class="text-4xl text-gray-100 text-center">SafeBank</h1>
					<h2 class="text-xl text-gray-100 text-center"> [secrect managment client] </h2>
				</div>
				<div >
					<form method="POST" action="/transfer" class=" mx-auto grid grid-cols-3 gap-y-3 bg-purple-400 mx-2 w-3/4 p-2 rounded shadow">

						<label class="text-white">From</label>
						<select id="from" name="from" class="col-span-2">
							{{#each accounts}} <option value="{{name}}">{{name}}</option> {{/each}}
						</select>


						<label class="text-white">To</label>
						<select id="to" name="to" class="col-span-2 justify-end" >
							{{#each accounts}} <option value="{{name}}">{{name}}</option> {{/each}}
						</select>


						<label class="text-white">Amount</label>
						<input type="number" name="amount" class="col-start-3">


						<input class="col-start-3" type="submit" value="submit">
					</form>
				</div>
			</div>
			<div class="bg-purple-700 flex-grow p-2">
				<table class="border-2 border-blue-800 rounded w-full bg-purple-400 max-w-screen-md">
					<thead>
						<tr>
							<th class="border border-blue-800 text-gray-200">Name</th>
							<th class="border border-blue-800 text-gray-200">Balance</th>
						</tr>
					</thead>
					<tbody>
						{{#each accounts}} 
							<tr>
								<td class="ml-3 border border-blue-800 text-gray-200">{{name}}</td>
								<td class="text-right border border-blue-800 text-gray-200">{{balance}} sek</td> 
							</tr>
						{{/each}}
					</tbody>
				</table>
				<ol id="transfer-status"></ol>
			</div>
		</div>
		<ul id="accounts"></ul>
	</body>
</html>